Package: grub-bgrt
Version: 1.0.0-1big7
Depends: imagemagick
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Section: admin
Priority: optional
Installed-Size:384
Description: Grub theme from https://github.com/darac/grub-bgrt ported to BigLinux

